<nz-modal
  [nzVisible]="versionModalVisible"
  nzTitle="Choose Bible Version"
  [nzClosable]="false"
  [nzMaskClosable]="false"
  [nzKeyboard]="false"
  [nzFooter]="null"
>
  <ng-container *nzModalContent>
    <div *ngIf="loadingVersions" class="version-loading">
      <nz-spin nzSimple></nz-spin>
      <span>Loading versions...</span>
    </div>

    <p *ngIf="versionLoadError" class="version-error">{{ versionLoadError }}</p>

    <div *ngIf="!loadingVersions" class="version-grid">
      <button
        *ngFor="let version of versions"
        nz-button
        nzType="default"
        class="version-btn"
        (click)="chooseVersion(version.id)"
      >
        <span class="name">{{ version.name }}</span>
        <span class="meta">{{ version.language || 'English' }}</span>
      </button>
    </div>
  </ng-container>
</nz-modal>

<div class="global-bible-loading" *ngIf="bibleService.isBibleLoading$ | async">
  <nz-spin nzSimple></nz-spin>
  <span>Loading Bible...</span>
</div>

<app-header *ngIf="versionReady" (changeVersionRequested)="openVersionModal()"></app-header>
<router-outlet *ngIf="versionReady"></router-outlet>
